@charset "utf-8";
/* CSS Document */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
  float: left;
  padding: 15px;
	/*border:1px solid red*/
  
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.float-left{ float: left}
.float-right{ float:right}
.text-right{ text-align: right}
.text-center{ text-align: center}
.center-block{margin: auto; float: none}
/*-------------- THU VIEN STYLE KIEU FLEX---------------*/
.d-flex{ display: flex}
.justify-content-center{justify-content:center}
.justify-content-start{justify-content:flex-start}
.justify-content-end{justify-content: flex-end}
.justify-content-around{justify-content:space-around}
.justify-content-between{justify-content:space-between}
.verticle-center-flex{ align-items: center}
.verticle-top-flex{ align-items:flex-start}
.verticle-bottom-flex{ align-items:flex-end}
.verticle-stretch-flex{   align-items: stretch}
.flex-wrap{flex-wrap: wrap}
.flex-nowrap{flex-wrap: nowrap}
.flex-direction-thuan{ flex-direction: row}
.flex-direction-nguoc{ flex-direction: row-reverse}

/*------BACKGROUND--------*/

.bg-primary{ background: #056CB6!important}
.text-primary{ color: #DD963A}
.bg-secondary{background: #F2C94C}
.bg-light{ background: #fff}
.text-secondary{ color: #F2C94C}
.text-light{ color:#fff}
.p-15{padding: 15px}
.p-20{padding:0 20px}

/*-- style cho button----------*/
.btn-secondary{background: no-repeat; padding: 3px 5px; border: solid white ; color: white; /*cursor: pointer; *//*border-radius: 5px*/}
.btn-secondary:hover{background:#DD963A; color: black}
.btn-primary{background: no-repeat; padding: 3px 5px; border: solid white ; color: black; float: right}
.btn-primary:hover{background:#F2C94C; color:black}
/*-----------------------------*/
.border-bottom-secondary{ border-bottom: 1px solid #F2C94C; padding-left: 5px}
.border-bottom-primary{ border-bottom-color: 1px solid #056CB6;}

.mr-10{ margin-right: 10px}.ml-10{ margin-left: 10px}
.mx-10{ margin:0 10px}.my-10{ margin: 10px 0}
.my-50{ margin: 50px 0}
.pr-10{ padding-right: 10px}.pl-10{ padding-left: 10px}
.py-10{ padding: 10px 0}.px-10{ padding: 0 10px}
.py-50{ padding: 50px 0}.px-100{ padding: 100px 0}
.py-30{ padding: 30px 0}


